{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "IE": "11"
                }
            }
        ]
    ],
    "plugins": [
        [
            "@babel/plugin-transform-runtime",
            {
                "corejs": 2,
                "regenerator": true
            }
        ],
        "babel-plugin-syntax-async-functions"
    ]
}
